{% load static %}

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'menu/css/style.css' %}">
        <title> Client VTC </title>
    </head>
    <body>
        <div class = "logo">
            <a href="{% url 'main:index' %}">
                <img id = "small_logo" src = "{% static 'main/images/logo.png' %}">
            </a>
        </div>
        <h1> Page Menu </h1>
        <u>
            {% for client in clients %}
                <li> {{ client.user_name }} : {{ client.user_email }} </li>
            {% endfor %}
        </u>
    </body>
</html>