:root {
  --color1: #ff665E;
  --color2:#6C6864;
  --color3:#212529;

}


body{
    min-width:360px;
    margin-left:0;
    margin-right:0;


}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


h1{
    text-align:center;
    color:var(--color1);

}
h2{
    font-family: Georgia, serif;
    font-size:28px;
    font-weight: 500;
    color:var(--color1);
    margin-top:25;
    margin-bottom:8px;
}
div.separateur {
    background-color: #979797;
    opacity: .1;
    height: 2px;
    width: 100%;
    margin:20px 0px 0px;



}
div.separateur_2{
    background-color: #979797;
    opacity: .2;
    height: 2px;
    width: 100%;
    margin-bottom:15px;
    margin-top:38px;
}
div.ensemble{
    margin-left:25%;
    margin-right:25%;
    padding-left:15px;
    padding-right:15px;
    min-width:360px;
}
div.section{
    margin-top:40px;
    margin-bottom:50px;

}
div.section_bottom{
    margin-top:60px;
    margin-bottom:200px;

}
.nom{
    font-weight:bold;
    color:var(--color2);
    font-family: Georgia, serif;
    font-size:16px;
    padding-left:0.95rem;
    display:inline-block;
    width:350px

}

.prix{
    color:var(--color1);
    font-size:16px;
    display:inline-block;
    margin-left:8px;
    width:198px;
    text-align:right;
    vertical-align: top;
}
.ingredient{
    color:var(--color3);
    display:block;
    padding-left:0.75rem;
    margin-bottom:16px;
    margin-top:5px;
}
.origine{
    color:var(--color3);
    display:block;
    padding-left:0.75rem;
    margin-bottom:16px;


}
.commentaire{
    color:var(--color3);
    display:block;
    padding-left:0.75rem;
    margin-bottom:16px;
}



div.frame_position{
    position: fixed;
    height:60px;
    bottom: 0px;
    width: 100%;
    background-color:#ff665E;
    margin-top:40px;
}
a{
    font-size:16px;
    color:white;
    text-decoration: none;
    margin-left:1.5%;
    font-family: Georgia, serif;
}
/* -----------------For 2200>768:---------------------------------------- */

@media only screen and (max-width: 1250px) {

.nom{
    width:220px
}
.ingredient{
    width:260px
}
div.ensemble{
    margin-left:15%;
    margin-right:15%;
}


.commentaire{
    width:185px;
}

}
/* -----------------For mobile <=768:---------------------------------------- */

@media only screen and (max-width: 767px) {


div.ensemble{
    margin-top:0px;
    margin-left:0;
    margin-right:0;
    padding-left:15px;
    padding-right:15px;

}
div.section{
    margin-top:30px;

}
.nom{
    font-weight:bold;
    color:var(--color2);
    font-family: Georgia, serif;
    font-size:14px;
    padding-left:0.75rem;
    display:inline-block;
    width:254px
}
.prix{
    color:var(--color1);
    font-size:14px;
    margin-bottom:0px;
    margin-left:0px;
    width:48px;

}
div.section_bottom{
    margin-top:60px;
    margin-bottom:100px;

}


}
