
DECLARE @IdRelance NVARCHAR(20);

SET @IdRelance = 49 ;

SELECT [IdRelance]
      ,[ModeRelance]
      ,[ClePanier]
      ,[Periodicite]
      ,[DebutPeriode]
      ,[FinPeriode]
      ,[RootMoteur]
      ,[ExcluMoteur]
  FROM [PRODUCTION].[prod].[RelanceGestion]
  WHERE IdRelance = @IdRelance;


SELECT [IdRelance]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutGlobal]
  FROM [PRODUCTION].[prod].[RelanceGlobale]
  WHERE IdRelance = @IdRelance;


SELECT [IdRelance]
      ,[Periode]
      ,[Niveau]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutNiveau]
	  ,[StatutNiveauComplet]
  FROM [PRODUCTION].[prod].[RelanceNiveau]
  WHERE IdRelance = @IdRelance
  ORDER BY Niveau, Periode;


SELECT [IdRelance]
      ,[Periode]
      ,[Niveau]
      ,[Moteur]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutMoteur]
  FROM [PRODUCTION].[prod].[RelanceMoteur]
  WHERE IdRelance = @IdRelance
  ORDER BY Niveau, Periode, Lancement;


SELECT [IdRelance]
      ,[Periode]
      ,[Niveau]
      ,[Moteur]
      ,[TableMoteur]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutTable]
  FROM [PRODUCTION].[prod].[RelanceTable]
  WHERE IdRelance = @IdRelance
  ORDER BY Niveau, Periode, Lancement;

