{%extends "alcool/base.html"%}
{%block content %}


<div class="ensemble">
    <h2>Entrées</h2>
    <div class="section">
        {% for entree in entrees %}
        <div  class="separateur_2"></div>
        <span class="nom">{{entree.nom_objet }}</span>
        <span class="prix"> {{entree.prix |floatformat:2}}€</span>
        <span class="commentaire">{{entree.ingredient }}</span>
        <span class="origine">{{entree.origine }}</span>
          {%endfor%}
    </div>

     <h2>Plats</h2>
    <div class="section">
        {% for plat in plats %}
        <div  class="separateur_2"></div>
        <span class="nom">{{plat.nom_objet }}</span>
        <span class="prix"> {{plat.prix |floatformat:2}}€</span>
        <span class="commentaire">{{plat.ingredient }}</span>
        <span class="origine">{{plat.origine }}</span>
          {%endfor%}
    </div>

    <h2>Suggestion Plats</h2>
    <div class="section">
        {% for suggestion_plat in suggestion_plats %}
        <div  class="separateur_2"></div>
        <span class="nom">{{suggestion_plat.nom_objet }}</span>
        <span class="prix"> {{suggestion_plat.prix |floatformat:2}}€</span>
        <span class="commentaire">{{suggestion_plat.ingredient }}</span>
        <span class="origine">{{suggestion_plat.origine }}</span>
          {%endfor%}
    </div>

     <h2>Desserts</h2>
    <div class="section">
        {% for dessert in desserts %}
        <div  class="separateur_2"></div>
        <span class="nom">{{dessert.nom_objet }}</span>
        <span class="prix"> {{dessert.prix |floatformat:2}}€</span>
        <span class="commentaire">{{dessert.ingredient }}</span>
        <span class="origine">{{dessert.origine }}</span>
          {%endfor%}
    </div>

     <h2>Menu Enfant </h2>
    <p style="padding-left:0.75rem"> Plat + dessert 18€</p>
    <div class="section_bottom">
        {% for plat_enfant in plat_enfants %}
        <div  class="separateur_2"></div>
        <span class="nom">{{plat_enfant.nom_objet }}</span>
        <span class="commentaire">{{plat_enfant.ingredient }}</span>
        <span class="origine">{{plat_enfant.origine }}</span>
          {%endfor%}
    </div>
</div>
{% endblock content %}




