
DECLARE @IdRelance NVARCHAR(20);

SET @IdRelance = <IdRelance, NVARCHAR(20)> ;

SELECT [IdRelance]
      ,[ModeRelance]
      ,[ClePanier]
      ,[Periodicite]
      ,[DebutPeriode]
      ,[FinPeriode]
      ,[RootMoteur]
      ,[ExcluMoteur]
  FROM [PRODUCTION].[prod].[RelanceGestion]
  WHERE IdRelance = @IdRelance;


SELECT [IdRelance]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutGlobal]
  FROM [PRODUCTION].[prod].[SognowGlobal]
  WHERE IdRelance = @IdRelance;


SELECT [IdRelance]
      ,[Periodicite]
      ,[Periode]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutMoteur]
  FROM [PRODUCTION].[prod].[SognowMoteur]
  WHERE IdRelance = @IdRelance
  ORDER BY Periode, Lancement;


SELECT [IdRelance]
      ,[Periodicite]
      ,[Periode]
      ,[Bucket]
      ,[Key_S3]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutTable]
  FROM [PRODUCTION].[prod].[SognowTable]
  WHERE IdRelance = @IdRelance
  ORDER BY Periode, Lancement;

