/*
    Suppression dans les tables de suivies de production des lignes pour un niveau, un moteur, une périodicite et une période donnés
*/


DECLARE @Niveau TINYINT,
        @Periodicite NVARCHAR(20),
        @Periode INT,
        @Moteur NVARCHAR(MAX);


SET @Niveau = --
SET @Periodicite = --
SET @Periode = --
SET @Moteur = --


UPDATE
    [PRODUCTION].[prod].[ProductionNiveau]
SET
    StatutNiveau = '-1'
WHERE
        Niveau      = @Niveau
    AND Periodicite = @Periodicite
    AND Periode     = @Periode;


DELETE
FROM
    [PRODUCTION].[prod].[ProductionMoteur]
WHERE
        Niveau      = @Niveau
    AND Periodicite = @Periodicite
    AND Periode     = @Periode
    AND Moteur      = @Moteur;


DELETE
FROM
    [PRODUCTION].[prod].[ProductionTable]
WHERE
        Niveau      = @Niveau
    AND Periodicite = @Periodicite
    AND Periode     = @Periode
    AND Moteur      = @Moteur;