
DECLARE @Periodicite NVARCHAR(20),
        @Periode INT;


SET @Periodicite = 'hebdo';
SET @Periode = 202129 ;


SELECT [Periodicite]
      ,[Periode]
      ,[Niveau]
      ,[StatutNiveau]
      ,[StatutGlobale]
      ,[EstIntegreDW]
      ,[EstControleOK]
      ,[DateInsertion]
      ,[Priorite]
  FROM [DW_GersIt].[app].[TraitementSynchronisationDonneesPython]
  WHERE Periodicite = @Periodicite AND Periode = @Periode
  ORDER BY Niveau ;