
DECLARE @Periodicite NVARCHAR(100),
        @Periode INT;

SET @Periodicite = <Periodicite, NVARCHAR(100),> ;
SET @Periode = <Periode, INT> ;


SELECT [Periodicite]
      ,[Periode]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution] 
      ,[StatutGlobal]
  FROM [PRODUCTION].[prod].[ProductionGlobale]
  WHERE Periodicite = @Periodicite AND Periode = @Periode
  ORDER BY Periode ;

  SELECT [Periodicite]
        ,[Periode]
        ,[Niveau]
        ,[Lancement]
        ,[Conclusion]
        ,[TempsExecution]
        ,[StatutNiveau]
  FROM [PRODUCTION].[prod].[ProductionNiveau]
  WHERE Periodicite = @Periodicite AND Periode = @Periode
  ORDER BY Niveau ;


  SELECT [Periodicite]
        ,[Periode]
        ,[Niveau]
        ,[Moteur]
        ,[ProfondeurHistorique]
        ,[Lancement]
        ,[Conclusion]
        ,[TempsExecution]
        ,[StatutMoteur]
  FROM [PRODUCTION].[prod].[ProductionMoteur]
  WHERE Periodicite = @Periodicite AND Periode = @Periode
  ORDER BY Niveau, Moteur, ProfondeurHistorique ;


SELECT [Periodicite]
      ,[Periode]
      ,[Niveau]
      ,[Moteur]
      ,[ProfondeurHistorique]
      ,[TableMoteur]
      ,[Lancement]
      ,[Conclusion]
      ,[TempsExecution]
      ,[StatutTable]
  FROM [PRODUCTION].[prod].[ProductionTable]
  WHERE Periodicite = @Periodicite AND Periode = @Periode
  ORDER BY Niveau, Moteur, ProfondeurHistorique ;