/*
   Suivi des productions du moteur CallsVentes
*/

SELECT [IdCalls]
      ,[Date]
      ,[Fichier]
      ,[Sheet]
      ,[Lancement]
      ,[Conclusion]
	  ,[TempsExecution]
      ,[StatutPreprocessing]
      ,[StatutCalcul]
      ,[StatutChargement]
      ,[StatutGlobal]
  FROM [PRODUCTION].[prod].[ProductionCallsVentes]
  ORDER BY [IdCalls] ;


SELECT [IdCalls]
      ,[Preprocessing]
      ,[Calls]
      ,[Doublons]
      ,[Refus]
      ,[Rejet]
  FROM [PRODUCTION].[prod].[ProductionCallsVentesTables]
  ORDER BY [IdCalls] ;